[Desktop Entry]
Type=Application
Version=1.0
Name=TDTool
GenericName=PDF Viewer
Comment=View PDFs and split or merge pages into separate documents
Exec=tdtool %f
Icon=tdtool
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;
StartupWMClass=TDTool
Keywords=pdf;viewer;split;merge;pages;
